<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:名称空间，写接口的全类名，相当于告诉Mybatis这个配置文件是实现哪个接口的-->
<mapper namespace="com.vfd.demo.mapper.FileOperationMapper">
    <insert id="saveFile" useGeneratedKeys="true" keyProperty="id">
        insert into file (`name`,len,pid,location,`type`,`time`,owner)
            values (#{name}, #{len}, #{pid}, #{location}, #{type}, #{time}, #{owner})
    </insert>

    <!--Boolean saveFiles (@Param("allFiles") List<FileInfo> allFiles, @Param("owner") Integer owner);-->
    <insert id="saveFiles">
        insert into file (id,`name`,len,pid,location,`type`,`time`,owner) values
        <foreach collection="allFiles" item="fileItem" separator=",">
            (#{fileItem.id},#{fileItem.name},#{fileItem.len},#{fileItem.pid},#{fileItem.location},
             #{fileItem.type},#{fileItem.time},#{owner})
        </foreach>
    </insert>

    <!--Boolean mkDir(FileInfo fileInfo);-->
    <insert id="mkDir">
        insert into file (id,`name`,len,pid,location,`type`,`time`,owner)
        values (#{id}, #{name}, #{len}, #{pid}, #{location}, #{type},#{time},#{owner})
    </insert>

    <!--List<FileInfo> getFilesByFid(Integer fid);-->
    <select id="getFilesByFid" resultType="com.vfd.demo.bean.FileInfo">
        select * from file where pid = #{fid} and owner = #{owner}
    </select>

    <!--String getLocationById(Integer id);-->
    <select id="getFileById" resultType="com.vfd.demo.bean.FileInfo">
        select * from file where id = #{id} and owner = #{owner} and pid = #{fid}
    </select>

    <!-- Boolean deleteFileById(Integer id, Integer owner);-->
    <delete id="deleteFileById">
        delete from file where id = #{id} and owner = #{owner} and pid = #{fid}
    </delete>

    <!--List<FileInfo> getFilesByType(@Param("type") Integer type, @Param("owner") Integer owner);-->
    <select id="getFilesByType" resultType="com.vfd.demo.bean.FileInfo">
        select * from file where `type` = #{type} and owner = #{owner}
    </select>
</mapper>