<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:名称空间，写接口的全类名，相当于告诉Mybatis这个配置文件是实现哪个接口的-->
<mapper namespace="com.vfd.demo.mapper.FileOperationMapper">
    <insert id="saveFile" useGeneratedKeys="true" keyProperty="id">
        <if test="pid!=null">
            insert into file (`name`,len,pid,location,`type`,`time`,owner)
            values (#{name}, #{len}, #{pid}, #{location}, #{type}, #{time}, #{owner})
        </if>
        <if test="pid==null">
            insert into file (`name`,len,pid,location,`type`,`time`,owner)
            values (#{name}, #{len}, (select max(pid)+1 from file f1), #{location}, #{type}, #{time}, #{owner})
        </if>
    </insert>

    <!--Boolean saveFiles (@Param("allFiles") List<FileInfo> allFiles, @Param("owner") Integer owner);-->
    <insert id="saveFiles">
        insert into file (id,`name`,len,pid,location,`type`,`time`,owner) values
        <foreach collection="allFiles" item="fileItem" separator=",">
            <if test="fileItem.pid!=null">
                (#{fileItem.id},#{fileItem.name},#{fileItem.len},#{fileItem.pid},#{fileItem.location},
                #{fileItem.type},#{fileItem.time},#{owner})
            </if>
            <if test="fileItem.pid==null">
                (#{fileItem.id},#{fileItem.name},#{fileItem.len},(select max(pid)+1 from file f1),#{fileItem.location},
                #{fileItem.type},#{fileItem.time},#{owner})
            </if>
        </foreach>
    </insert>

    <!--Boolean mkDir(FileInfo fileInfo);-->
    <insert id="mkDir">
        insert into file (id,`name`,len,pid,location,`type`,`time`,owner)
        <if test="pid != null">
            values (#{id}, #{name}, #{len}, #{pid}, #{location}, #{type},#{time},#{owner})
        </if>
        <if test="pid == null">
            values (#{id}, #{name}, #{len}, (select max(pid)+1 from file f1), #{location}, #{type},#{time},#{owner})
        </if>
    </insert>

    <!--List<FileInfo> getFilesByFid(Integer fid);-->
    <select id="getFilesByFid" resultType="com.vfd.demo.bean.FileInfo">
        select * from file where pid = #{fid} and owner = #{owner}
    </select>

    <!--FileInfo getFileByLocal(@Param("id") Integer id, @Param("owner") Integer owner, @Param("location") String location);-->
    <select id="getFileByLocal" resultType="com.vfd.demo.bean.FileInfo">
        select * from file where id = #{id} and owner = #{owner} and location = #{location}
    </select>

    <!--String getLocationById(Integer id);-->
    <select id="getFileById" resultType="com.vfd.demo.bean.FileInfo">
        select * from file where id = #{id} and owner = #{owner} and pid = #{fid}
    </select>

    <!-- Boolean deleteFileById(Integer id, Integer owner);-->
    <delete id="deleteFileById">
        delete from file where id = #{id} and owner = #{owner} and pid = #{fid}
    </delete>

    <!--Boolean deleteFilesById(@Param("fileInfos") List<FileInfo> fileInfos);-->
    <delete id="deleteFilesById">
        delete from file where (id,pid,owner) in
        <foreach collection="fileInfos" item="fileItem" separator="," open="(" close=")">
            (#{fileItem.id},#{fileItem.pid},#{fileItem.owner})
        </foreach>
    </delete>

    <!--List<FileInfo> getFilesByType(@Param("type") Integer type, @Param("owner") Integer owner);-->
    <select id="getFilesByType" resultType="com.vfd.demo.bean.FileInfo">
        select * from file where `type` = #{type} and owner = #{owner}
    </select>

    <!--Integer getPidByLocal(String location);-->
    <select id="getPidByLocal" resultType="java.lang.Integer">
        select pid from file where location = #{location}
    </select>

    <!--Boolean moveToTrash(TrashInfo trashInfo);-->
    <insert id="moveToTrash" useGeneratedKeys="true" keyProperty="flag">
        insert into trash (id,`name`,len,pid,location,`type`,`time`,owner,headman) value
            (#{id},#{name},#{len},#{pid},#{location},#{type},#{time},#{owner},#{headman})
    </insert>

    <!--Boolean updateTrashInfo (TrashInfo trashInfo);-->
    <update id="updateTrashInfo">
        update trash
        <set>
            <if test="id!=null">id=#{id},</if>
            <if test="name!=null">`name`=#{name},</if>
            <if test="len!=null">len=#{len},</if>
            <if test="pid!=null">pid=#{pid},</if>
            <if test="location!=null">location=#{location},</if>
            <if test="type!=null">`type`=#{type},</if>
            <if test="time!=null">`time`=#{time},</if>
            <if test="owner!=null">owner=#{owner},</if>
            <if test="headman!=null">headman=#{headman},</if>
        </set>
        <where>flag = #{flag}</where>
    </update>

    <!--Boolean updateFileInfo(FileInfo fileInfo);-->
    <update id="updateFileInfo">
        update file
        <set>
            <if test="name!=null">`name`=#{name},</if>
            <if test="len!=null">len=#{len},</if>
            <if test="location!=null">location=#{location},</if>
            <if test="type!=null">`type`=#{type},</if>
            <if test="time!=null">`time`=#{time},</if>
        </set>
        <where>id = #{id} and pid = #{pid} and owner = #{owner}</where>
    </update>

    <!--Boolean moveToTrashMul(@Param("fileInfos") List<FileInfo> fileInfos, @Param("headman") Integer headman);-->
    <insert id="moveToTrashMul">
        insert into trash (id,`name`,len,pid,location,`type`,`time`,owner,headman) values
        <foreach collection="fileInfos" item="fileItem" separator=",">
            (#{fileItem.id},#{fileItem.name},#{fileItem.len},#{fileItem.pid},#{fileItem.location},
            #{fileItem.type},#{fileItem.time},#{fileItem.owner},#{headman})
        </foreach>
    </insert>

    <!--Boolean deleteFromTrashByFlag(Integer flag);-->
    <delete id="deleteFromTrashByFlag">
        delete from trash where flag = #{flag}
    </delete>

    <!--Boolean deleteFromTrashByHeadman(@Param("headman") Integer headman);-->
    <delete id="deleteFromTrashByHeadman">
        delete from trash where headman = #{headman}
    </delete>

    <!--List<TrashInfo> getTrashInfosByHeadman(@Param("headman") Integer headman);-->
    <select id="getTrashInfosByHeadman" resultType="com.vfd.demo.bean.TrashInfo">
        select * from trash where headman = #{headman}
    </select>
</mapper>