<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:名称空间，写接口的全类名，相当于告诉Mybatis这个配置文件是实现哪个接口的-->
<mapper namespace="com.vfd.demo.mapper.UserLoginMapper">

    <select id="getUserIdByEmail" resultType="java.lang.Integer">
        select id from user_login where email = #{email}
    </select>

    <select id="getUserId" resultType="java.lang.Integer">
        select id from user_login where email = #{email} and password = #{password}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into user_login (email,password, `name`) values (#{email}, #{password}, #{name})
    </insert>

    <update id="updateUserPassword">
        update user_login set password = #{password} where email = #{email}
    </update>

    <!--UserAccInfo getUserInfoByEmail(String email);-->
    <select id="getUserInfoByEmail" resultType="com.vfd.demo.bean.UserAccInfo">
        select * from user_login where email = #{email}
    </select>

    <!--String getNameById (Integer id);-->
    <select id="getNameById" resultType="java.lang.String">
        select `name` from user_login where id = #{id}
    </select>
</mapper>