<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>vfd-cloud - 忘记密码</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/asserts/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/asserts/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">忘记密码？</h1>
                                        <p class="mb-4">在下面填写你的邮箱地址，点击按钮，我们将向你的邮箱发送一个链接来重置你的密码！</p>
                                    </div>
                                    <!--提交表单-->
                                    <form class="user" id="user_forget_password" method="post" action="/forget_password">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" name="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <input id="bt01" type="button" class="btn btn-primary btn-user btn-block" value="发送邮件"
                                               onclick="sendMsg()">
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/pages/register">创建一个账户！</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/">已经有账户了？登录！</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/asserts/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/asserts/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/asserts/js/sb-admin-2.min.js}"></script>

</body>
<script type="text/javascript">
    var count = 60;
    var InterValObj;    //timer变量
    var curCount1;
    function sendMsg() {
        curCount1 = count;
        var email = $.trim($('#exampleInputEmail').val());
        var emailReg = /^[\da-z]+([\-\.\_]?[\da-z]+)*@[\da-z]+([\-\.]?[\da-z]+)*(\.[a-z]{2,})+$/;//邮箱正则
        if (!emailReg.test(email)) {
            alert('邮箱格式错误');
            return false;
        }
        $("#bt01").attr("disabled","true");
        $("#bt01").val(+curCount1 + "S 重发");
        InterValObj = window.setInterval(SetRemainTime1,1000);   //启动计时器，每秒一次
        //向后台发送数据
        $.ajax({
            type: "GET",
            url: "/forget_password",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: {email: email},
            success: function (result) {
                if (result === "notExist") {       //如果返回数据是notExist
                    window.clearInterval(InterValObj);
                    $("#bt01").val("获取验证码");
                    $("#bt01").removeAttr("disabled");//启用按钮
                    alert("这个邮箱不存在哦！");
                } else if (result === "success") {
                    alert("发送成功，请前往邮箱接收");
                }
                return false;
            },
            error: function (msg) {
                return false;
            }
        });
    }

    function SetRemainTime1() {
        if (curCount1 == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#bt01").removeAttr("disabled");//启用按钮
            $("#bt01").val("重新发送");
        } else {
            curCount1--;
            $("#bt01").val(+curCount1 + "S 重发");
        }
    }
</script>
</html>