<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>vfd-cloud</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/asserts/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/asserts/css/sb-admin-2.min.css}" rel="stylesheet">

    <style type="text/css">
        table{
            width:70%;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);/* 阴影 */
            border-collapse:collapse;/* 取消表格边框 */
            letter-spacing:1px;/* 文字缩进 */
        }
        table,th,tr,td{
            border-bottom:1px solid #dedede;/* 表格横线 */
            padding:29px;
            text-align: center;
        }
        progress {
            background-color: #56BE64;
        }

        progress::-webkit-progress-bar {
            background: #ccc;
        }

        progress::-webkit-progress-value {
            background: #56BE64;
        }

        percentage {
            position: fixed;
            left: 160px;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">vfd-cloud <sup>1</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>全部文件</span></a>
            </li>

            <!-- Divider 分割线-->
            <hr class="sidebar-divider">

            <!-- Heading 侧边栏-->
            <div class="sidebar-heading">
                文件
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>文件分类</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">文件类型:</h6>
                        <a class="collapse-item" href="buttons.html">文档</a>
                        <a class="collapse-item" href="cards.html">图片</a>
                        <a class="collapse-item" href="cards.html">视频</a>
                        <a class="collapse-item" href="cards.html">音频</a>
                        <a class="collapse-item" href="cards.html">种子</a>
                        <a class="collapse-item" href="cards.html">其他</a>
                    </div>
                </div>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search 搜索框 -->
                    <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!--用户名-->
                                <span id="curr_user_name" class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${username}"></span>
                                <img class="img-profile rounded-circle"
                                     src="/asserts/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Vfd-Cloud</h1>
                        <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#mkdirModal"><i
                                class="fas fa-download fa-sm text-white-50"></i> 新建文件夹</a>
                        <a href="javascript:uploadFile()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> 上传文件</a>-->

                        <a href="javascript:void(0);" class="btn btn-success btn-icon-split btn-sm" data-toggle="modal" data-target="#mkdirModal">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                            <span class="text">新建文件夹</span>
                        </a>

                        <!--进度条部分(默认隐藏)-->
                        <!--style="display: none;"-->
                        <div class="progress-body">
                            <div>
                                <span style="width: 100px; display: inline-block; text-align: right">上传进度：</span>
                                <progress></progress>
                                <percentage>0%</percentage>
                            </div>

                            <!--<div class="progress mb-4">
                                <div class="progress-bar" role="progressbar" style="width: 98%"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>-->

                            <div>
                                <span style="width: 100px; display: inline-block; text-align: right">上传速度：</span>
                                <span style="width: 300px;" class="progress-speed">0 M/S, 0/0M</span>
                            </div>
                            <div>
                                <span style="width: 100px; display: inline-block; text-align: right">上传状态：</span>
                                <span style="width: 300px;" class="progress-info">请选择文件并点击上传文件按钮</span>
                            </div>
                        </div>

                        <a href="javascript:void(0);" class="btn btn-success btn-icon-split btn-sm" onclick="uploadFile();">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                            <span class="text">上传文件</span>
                        </a>

                        <form style="display: none" id="upload_file" action="/uploadFile" method="post" enctype="multipart/form-data">
                            <input style="display: none" type="file" id="select_file" name="select_file" multiple/><br/>
                            <label>
                                <!--当前登陆用户的id-->
                                <input style="display: none" type="text" name="username" th:value="${username}">
                            </label>
                            <label>
                                <!--当前文件夹的id-->
                                <input style="display: none" type="number" name="fid" th:value="${currentDir.getId()}">
                            </label>
                            <label>
                                <!--目录的location-->
                                <input style="display: none" type="text" name="location" th:value="${currentDir.getLocation()}">
                            </label>
                        </form>
                    </div>
                </div>
                <!--导航栏-->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 float-left">
                        <h6 class="m-0 font-weight-bold text-primary">
                            <div class="float-left">
                                <div class="float-left" th:each="pa:${path}">
                                    <!--<div>-->
                                        <form action="/enterFile" method="post" th:id="'enter_dir' + ${pa.getId()}">
                                            <label>
                                                <input style="display: none" type="text" name="username" th:value="${username}">
                                            </label>
                                            <label>
                                                <input style="display: none" type="number" name="fid" th:value="${pa.getId()}">
                                            </label>
                                            <a th:text="${pa.getName()}" href="javascript:void(0)" th:onclick="enter_dir([[${pa.getId()}]]);">
                                            </a> >
                                        </form>
                                    <!--</div>-->
                                </div>
                                <div class="float-left">
                                    <p th:text="'&nbsp;' + ${currentDir.getName()}"></p>
                                </div>
                            </div>
                        </h6>
                    </div>
                    <div class="card-body card mb-4 py-3 border-left-primary">
                        <div class="table-responsive">
                            <!--<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">-->
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>文档名</th>
                                        <th>长度</th>
                                        <th>操作</th>
                                        <th>创建日期</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>文档名</th>
                                        <th>长度</th>
                                        <th>操作</th>
                                        <th>创建日期</th>
                                    </tr>
                                </tfoot>
                                <tbody id="dir_tbody">
<!--                                </tbody>
                                <tbody>-->
                                    <tr th:each="dir:${dirs}" th:id="'tr' + ${dir.getId()}">
                                        <td>
                                            <form style="display: none" action="/enterFile" method="post" th:id="'enter_into_dir' + ${dir.getId()}">
                                                <!--style="display: none"-->
                                                <label>
                                                    <input style="display: none" type="text" name="username" th:value="${username}">
                                                </label>
                                                <label>
                                                    <input style="display: none" type="number" name="fid" th:value="${dir.getId()}">
                                                </label>
                                            </form>
                                            <!--<a href="javascript:test()" th:οnclick="'javascript:test(\''+${file.getId()}+'\')'">-->
                                            <a href="javascript:void(0)" th:onclick="enter_into_dir([[${dir.getId()}]]);">
                                                <p th:text="${dir.getName()}"></p>
                                            </a>
                                        </td>
                                        <!--<td th:text="${dir.getLen()}"></td>-->
                                        <td th:text="'--'"></td>         <!--文件夹长度不显示-->
                                        <td>
                                            <!--<a href="javascript:void(0);" th:onclick="delete_file([[${dir.getId()}]]);" class="btn btn-danger btn-circle">
                                                <i class="fas fa-trash"></i>
                                            </a>-->

                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal"
                                               th:onclick="Values([[${dir.getId()}]]);" class="btn btn-danger btn-circle">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                        <!--<td><a href="javascript:void(0);" th:onclick="delete_file([[${dir.getId()}]]);">删除</a></td>-->
                                        <td>2021/1/21 18:48</td>
                                    </tr>
                                </tbody>

                                <tbody id="doc_tbody">
<!--                                </tbody>
                                <tbody>-->
                                    <tr th:each="doc:${docs}" th:id="'tr' + ${doc.getId()}">
                                        <td>
                                            <p th:text="${doc.getName()}"></p>
                                        </td>
                                        <td th:text="${doc.convertToSize()}"></td>
                                        <td>
                                            <!--<a th:href="@{'/download/' + ${doc.getId()}}">下载</a>-->
                                            <a th:href="@{'/download/' + ${doc.getId()}}" class="btn btn-primary btn-circle">
                                                <i class="fas fa-download fa-sm "></i>
                                            </a>
                                            <!--<a href="javascript:void(0);" th:onclick="delete_file([[${doc.getId()}]]);">删除</a>-->
                                            <!--<a href="javascript:void(0);" th:onclick="delete_file([[${doc.getId()}]]);" class="btn btn-danger btn-circle">
                                                <i class="fas fa-trash"></i>
                                            </a>-->
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal"
                                               th:onclick="Values([[${doc.getId()}]]);" class="btn btn-danger btn-circle">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                        <td>2021/1/21 18:48</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!--delete file modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm to Delete?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Confirm" below if you are ready to delete your file or dir.</div>
                <input type="hidden" id="deleteFileId" name="deleteFileId">
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="javascript:void(0);" onclick="delete_file(document.getElementById('deleteFileId').value)">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    <!-- mkdir Modal-->
    <div class="modal fade" id="mkdirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DirModalLabel">Enter Dir Name</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body form-group">
                    <form action="/mkdir" method="POST" id="input_dir">
                        <input style="display: none" type="text" name="username" th:value="${username}">
                        <input style="display: none" type="number" name="fid" th:value="${currentDir.getId()}">
                        <input style="display: none" type="text" name="location" th:value="${currentDir.getLocation()}">
                        <input style="display: none" type="text" name="f_name" th:value="${currentDir.getName()}">
                        <input type="text" class="form-control form-control-user" id="inputDir" name="inputDir"
                               placeholder="dir name ...">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <!--<a onclick="document.getElementById('input_dir').submit();"
                       class="btn btn-primary" href="javascript:void(0)">Create</a>-->
                    <a onclick="mkdir();"
                       class="btn btn-primary" href="javascript:void(0)">Create</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/asserts/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/asserts/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/asserts/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/asserts/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/asserts/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/asserts/js/demo/chart-pie-demo.js}"></script>

<!--    <script type="text/javascript" src="/cont-inspec/scripts/jquery.form.js"></script>-->

</body>
<script type="text/javascript">

    function mkdir() {
        var curr_user_name = document.getElementById('curr_user_name').textContent;
        var tbody_dir = document.getElementById('dir_tbody');
        $.ajax({
            type: "post",
            url: "/mkdir",
            data: $('#input_dir').serialize(),
            cache: false,
            dataType: "json",
            success: function (result) {
                var add_html = "<tr id=\"tr"+result.id+"\">"+
                    "<td>"+
                    "<form style=\"display: none\" action=\"/enterFile\" method=\"post\" id=\"enter_into_dir"+result.id+"\">" +
                    "                <label>"+
                    "                    <input style=\"display: none\" type=\"text\" name=\"username\" value=\""+curr_user_name+"\">" +
                    "                </label>"+
                    "                <label>" +
                    "                    <input style=\"display: none\" type=\"number\" name=\"fid\" value=\""+result.id+"\">" +
                    "                </label>" +
                    "            </form>"+
                    "<a href=\"javascript:void(0)\" onclick=\"enter_into_dir("+result.id+");\">" +
                    "               <p>"+result.name+"</p>" +
                    "           </a>" +
                    "       </td>" +
                    "       <td>--</td>" +
                    "       <td>" +
                    "           <a href=\"javascript:void(0);\" data-toggle=\"modal\" data-target=\"#deleteModal\"" +
                    "              onclick=\"Values("+result.id+");\" class=\"btn btn-danger btn-circle\">" +
                    "               <i class=\"fas fa-trash\"></i>" +
                    "           </a>" +
                    "       </td>" +
                    "       <td>2021/1/21 18:48</td>" +
                    "   </tr>";
                tbody_dir.innerHTML = add_html+tbody_dir.innerHTML;
                return false;
            },
            error: function (msg) {
                alert("发生错误");
                return false;
            }
        });
    }


    function uploadFile() {
        document.getElementById("select_file").click();

    }
    //监听，当上传文件的选择文件框发生变化则上传此时框中选中的文件
    $("#select_file").change(function () {
        var formData = new FormData(document.getElementById('upload_file'));
        var tbody = document.getElementById('doc_tbody');
        $.ajax({
           type: "post",
            enctype: "multipart/form-data",
            url: "/uploadFile",
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (result) {
               var add_html = "";
                $.each(result,function (){
                    add_html += "<tr id=\"tr"+this.id+"\">"+
                        "<td><p>"+this.name+"</p></td>"+
                        "<td>"+this.len+"</td>"+
                        "<td>"+ "<a href=\"/download/"+this.id+"\" class=\"btn btn-primary btn-circle\">" +
                        "                                                <i class=\"fas fa-download fa-sm \"></i>" +
                        "                                            </a>"+
                        "<a href=\"javascript:void(0);\" data-toggle=\"modal\" data-target=\"#deleteModal\"" +
                        "                                               onclick=\"Values("+this.id+");\" class=\"btn btn-danger btn-circle\">" +
                        "                                                <i class=\"fas fa-trash\"></i>" +
                        "                                            </a>"+"</td>"+
                        "<td>2021/1/21 18:48</td></tr>";
                });
                tbody.innerHTML=add_html + tbody.innerHTML;
            },
            xhr: function () {
               var xhr = $.ajaxSettings.xhr();
               if (xhr.upload) {
                   //处理进度条的事件
                   xhr.upload.addEventListener("progress", progressHandle, false);
                   //加载完成的事件
                   xhr.addEventListener("load", completeHandle, false);
                   //加载出错的事件
                   xhr.addEventListener("error", failedHandle, false);
                   //加载取消的事件
                   xhr.addEventListener("abort", canceledHandle, false);
                   //开始显示进度条
                   showProgress();
                   return xhr;
               }
            }
        },'json');
    });

    var start = 0;

    //显示进度条的函数
    function showProgress() {
        start = new Date().getTime();
        $(".progress-body").css("display", "block");
    }

    //隐藏进度条的函数
    function hideProgress() {
        $("#select_file").val('');
        $('.progress-body .progress-speed').html("0 M/S, 0/0M");
        $('.progress-body percentage').html("0%");
        $('.progress-body .progress-info').html("请选择文件并点击上传文件按钮");
        /*$("#btnUpload").attr("disabled", false);
        $("#uploadFile").attr("disabled", false);*/
        //$(".progress-body").css("display", "none");
    }

    //进度条更新
    function progressHandle(e) {
        $('.progress-body progress').attr({value: e.loaded, max: e.total});
        var percent = e.loaded / e.total * 100;
        var time = ((new Date().getTime() - start) / 1000).toFixed(3);
        if (time === 0) {
            time = 1;
        }
        $('.progress-body .progress-speed').html(((e.loaded / 1024) / 1024 / time).toFixed(2) + "M/S, " + ((e.loaded / 1024) / 1024).toFixed(2) + "/" + ((e.total / 1024) / 1024).toFixed(2) + " MB. ");
        $('.progress-body percentage').html(percent.toFixed(2) + "%");
        if (percent === 100) {
            $('.progress-body .progress-info').html("上传完成,后台正在处理...");
        } else {
            $('.progress-body .progress-info').html("文件上传中...");
        }
    };

    //上传完成处理函数
    function completeHandle(e) {
        $('.progress-body .progress-info').html("上传文件完成。");
        setTimeout(hideProgress, 2000);
    };

    //上传出错处理函数
    function failedHandle(e) {
        $('.progress-body .progress-info').html("上传文件出错, 服务不可用或文件过大。");
        setTimeout(hideProgress, 2000);
    };

    //上传取消处理函数
    function canceledHandle(e) {
        $('.progress-body .progress-info').html("上传文件取消。");
        setTimeout(hideProgress, 2000);
    };

    function enter_into_dir(obj) {
        document.getElementById('enter_into_dir'+obj).submit();
    }

    function enter_dir(obj) {
        document.getElementById('enter_dir'+obj).submit();
    }

    function Values(ID) {
        $('#deleteFileId').val(ID);
    }

    //删除文件时利用ajax做异步，id为要删除的文件的id
    function delete_file(id) {
        $('#deleteModal').modal('hide');
        var tr = document.getElementById("tr" + id);
        $.ajax( {
            type: "GET",
            url: "/delete",
            async: false,        //异步下载
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: {id: id},
            success: function (result) {
                if (result === "success") {
                    tr.style.display="none";
                    return false;
                } else {
                    alert("删除失败，请稍后重试！");
                }
                return false;
            },
            error: function (msg) {
                alert("发生错误");
                return false;
            }
        });
    }
</script>

</html>