<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${ownerName}"></p><br>
    <p th:text="${file.getName()}"></p><br>
    <form style="display: none" id="keep_file" action="/keep_file" method="post">
        <input name="id" th:value="${file.getId()}">
        <input name="fid" th:value="${file.getPid()}">
        <input name="owner" th:value="${file.getOwner()}">
    </form>
    <a href="javascript:void(0);" onclick="document.getElementById('keep_file').submit();">保存到我的云盘</a>

</body>
</html>