<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>分享链接</title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/asserts/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/asserts/css/sb-admin-2.min.css}" rel="stylesheet">

    <style type="text/css">
        table{
            width:70%;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);/* 阴影 */
            border-collapse:collapse;/* 取消表格边框 */
            letter-spacing:1px;/* 文字缩进 */
        }
        table,th,tr,td {
            border-bottom: 1px solid #dedede; /* 表格横线 */
            padding: 29px;
            text-align: center;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--用户名-->
                            <span id="curr_user_name" class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${userName}"></span>
                            <img class="img-profile rounded-circle"
                                 src="/asserts/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
<!--                    <h3 class="h3 mb-0 text-gray-800"><p th:text="'文件分享者： '+ ${ownerName}"></p></h3>-->
                    <a th:if="${not #strings.isEmpty(self)}" href="javascript:void(0);" class="btn btn-success btn-icon-split btn-sm" data-toggle="modal" data-target="#fileTreeModal"
                       th:onclick="get_sub_dir(-1*[[${id}]],[[${id}]],0)">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-save"></i>
                                        </span>
                        <span class="text">全部取消分享</span>
                    </a>
                </div>
            </div>

            <!--导航栏-->
            <div class="card shadow mb-4">
                <div class="card-body card mb-4 py-3 border-left-primary">
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>链接</th>
                                <th>提取码</th>
                                <th>取消分享</th>
                                <th>有效期</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>链接</th>
                                <th>提取码</th>
                                <th>取消分享</th>
                                <th>有效期</th>
                            </tr>
                            </tfoot>
                            <tbody id="dir_tbody">
                                <tr th:each="iter, iterStat:${share}" th:id="'tr' + ${iterStat.index}">
                                    <td th:text="${iter.getLink()}"></td>
                                    <td th:text="${iter.getPass()}"></td>
                                    <td>
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal"
                                           th:onclick="Values([[${iter.getUuid()}]],[[${iterStat.index}]]);" class="btn btn-danger btn-circle">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                    <td th:text="${iter.getExpire()}+'秒'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; vfdxvffd.cn 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">In Plan</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Select "Logout" below if you are ready to end your current session.-->
            <div class="modal-body">此功能正在加紧开发中...</div>
            <div class="modal-footer">
                <!--<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
                <button class="btn btn-primary" type="button" data-dismiss="modal">确认</button>
                <!--<a class="btn btn-primary" href="login.html">Logout</a>-->
            </div>
        </div>
    </div>
</div>

<!--delete file modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm to Delete?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Confirm" below if you are ready to delete your file or dir.</div>
            <input type="hidden" id="deleteUUID" name="deleteUUID">
            <input type="hidden" id="deleteIndex" name="deleteIndex">
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="javascript:void(0);" onclick="delete_share(document.getElementById('deleteUUID').value,
                                                                        document.getElementById('deleteIndex').value)">Confirm</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/asserts/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/asserts/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/asserts/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/asserts/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/asserts/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/asserts/js/demo/chart-pie-demo.js}"></script>

</body>

<script type="text/javascript">

    function Values(uuid, index) {
        $('#deleteUUID').val(uuid);
        $('#deleteIndex').val(index);
    }

    function delete_share(uuid, index) {
        $('#deleteModal').modal('hide');
        $.ajax({
            type: "GET",
            url: "/deleteShare",
            async: false,        //异步下载
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: {uuid: uuid},
            success: function (result) {
                if (result === "success") {
                    document.getElementById('tr'+index).style.display="none";
                } else {
                    alert('删除失败，请稍后重试！');
                }
                return false;
            },
            error: function (msg) {
                alert("发生错误");
                return false;
            }
        });
    }

</script>

</html>