<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>回收站</title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/asserts/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/asserts/css/sb-admin-2.min.css}" rel="stylesheet">

    <style type="text/css">
        table{
            width:70%;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);/* 阴影 */
            border-collapse:collapse;/* 取消表格边框 */
            letter-spacing:1px;/* 文字缩进 */
        }
        table,th,tr,td {
            border-bottom: 1px solid #dedede; /* 表格横线 */
            padding: 29px;
            text-align: center;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--用户名-->
                            <span id="curr_user_name" class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${userName}"></span>
                            <img class="img-profile rounded-circle"
                                 src="/asserts/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <!--                    <h3 class="h3 mb-0 text-gray-800"><p th:text="'文件分享者： '+ ${ownerName}"></p></h3>-->
                    <a href="javascript:void(0);" class="btn btn-danger btn-icon-split btn-sm" data-toggle="modal"
                    data-target="#deleteAllModal">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                        <span class="text">清空回收站</span>
                    </a>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body card mb-4 py-3 border-left-primary">
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>文档名</th>
                                <th>大小</th>
                                <th>删除时间</th>
                                <th>操作</th>
                                <th>有效时间</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>文档名</th>
                                <th>大小</th>
                                <th>删除时间</th>
                                <th>操作</th>
                                <th>有效时间</th>
                            </tr>
                            </tfoot>
                            <tbody id="dir_tbody">
                            <tr th:each="iter, iterStat:${trashInfos}" th:id="'tr' + ${iterStat.index}">
                                <td th:text="${iter.getName()}"></td>
                                <td th:text="${iter.convertToSize()}"></td>
                                <td th:text="${iter.gainTime()}"></td>
                                <td>
                                    <a th:id="'resume_tr_'+${iterStat.index}" class="btn btn-primary btn-circle"
                                    th:onclick="check([[${iter.getId()}]],[[${iter.getOwner()}]],[[${iter.getPid()}]],[[${iterStat.index}]]);">
                                        <i class="fas fa-redo-alt"></i>
                                    </a>
                                    <a th:id="'delete_tr_'+${iterStat.index}" class="btn btn-danger btn-circle"
                                       data-toggle="modal" data-target="#deleteModal"
                                        th:onclick="Values([[${iter.getId()}]],[[${iter.getPid()}]],[[${iterStat.index}]]);">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td th:text="${iter.getExpire()}+'秒'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; vfdxvffd.cn 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">In Plan</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Select "Logout" below if you are ready to end your current session.-->
            <div class="modal-body">此功能正在加紧开发中...</div>
            <div class="modal-footer">
                <!--<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
                <button class="btn btn-primary" type="button" data-dismiss="modal">确认</button>
                <!--<a class="btn btn-primary" href="login.html">Logout</a>-->
            </div>
        </div>
    </div>
</div>

<!--delete file modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">确认删除?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">选择“确认”后，此文件将被永久删除</div>
            <input type="hidden" id="deleteId" name="deleteId">
            <input type="hidden" id="deleteFid" name="deleteFid">
            <input type="hidden" id="deleteIndex" name="deleteIndex">
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-danger" href="javascript:void(0);" onclick="delete_trash(document.getElementById('deleteId').value,
                                                                        document.getElementById('deleteFid').value,
                                                                        document.getElementById('deleteIndex').value)">确认</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAllModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAllModalLabel">确认清空?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">选择“确认”后回收站将被清空，所有文件将不能恢复</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-danger" href="javascript:void(0);" onclick="delete_all()">确认</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="duplicateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="duplicateModalLabel">替换文件</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">还原的位置已经包含了同名的文件，请选择您的操作：
                <div>
                    已有文件：
                    <div id="exist_name"></div>
                    <div id="exist_date"></div><br>
                    正在还原文件：
                    <div id="resume_name"></div>
                    <div id="resume_date"></div>
                </div>
                <input type="hidden" id="re_id">
                <input type="hidden" id="re_owner">
                <input type="hidden" id="re_fid">
                <input type="hidden" id="re_index">
                替换文件：将覆盖已有文件
                保留两个文件：将重命名已有文件
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-danger" href="javascript:void(0);" onclick="resume(document.getElementById('re_id').value,
                                                        document.getElementById('re_owner').value,
                                                        document.getElementById('re_fid').value,
                                                        document.getElementById('re_index').value ,true);">替换文件</a>
                <a class="btn btn-primary" href="javascript:void(0);" onclick="resume(document.getElementById('re_id').value,
                                                        document.getElementById('re_owner').value,
                                                        document.getElementById('re_fid').value,
                                                        document.getElementById('re_index').value, false);">保留两个文件</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/asserts/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/asserts/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/asserts/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/asserts/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/asserts/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/asserts/js/demo/chart-pie-demo.js}"></script>

</body>

<script type="text/javascript">

    function Values(id, fid, index) {
        $('#deleteId').val(id);
        $('#deleteFid').val(fid);
        $('#deleteIndex').val(index);
    }

    function delete_trash(id, fid, index) {
        $('#deleteModal').modal('hide');
        $.ajax({
            type: "GET",
            url: "/deleteFromTrash",
            async: false,        //异步下载
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: {id: id, fid: fid},
            success: function (result) {
                if (result === "success") {
                    document.getElementById('tr'+index).style.display="none";
                } else {
                    alert('删除失败，请稍后重试！');
                }
                return false;
            },
            error: function (msg) {
                alert("发生错误");
                return false;
            }
        });
    }

    function check(id, owner, fid, index) {
        $.ajax({
            type: "get",
            url: "/checkDuplicate",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {id: id, owner: owner, fid: fid},
            success: function (result) {
                console.log(result);
                if ("notSelf" in result) {
                    return false;
                }
                if ("duplicate" in result) {
                    const dup = result.duplicate;
                    document.getElementById('exist_name').innerHTML = dup.name;
                    document.getElementById('resume_name').innerHTML = dup.name;
                    document.getElementById('re_id').value = id;
                    document.getElementById('re_owner').value = owner;
                    document.getElementById('re_fid').value = fid;
                    document.getElementById('re_index').value = index;
                    $('#duplicateModal').modal('show');
                    return false;
                }
                resume(id, owner, fid, index, false);
                return false;
            },
            error: function (msg) {
                alert("发生错误");
                return false;
            }
        });
    }

    function resume(id, owner, fid, index, op) {
        $('#duplicateModal').modal('hide');
        $.ajax({
            type: "GET",
            url: "/resumeFile",
            async: false,        //异步下载
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: {id: id, owner: owner, fid: fid, op: op},
            success: function (result) {
                if (result === "success") {
                    document.getElementById('tr'+index).style.display="none";
                }
                alert(result);
                return false;
            },
            error: function (msg) {
                alert("发生错误");
                return false;
            }
        });
    }

    function delete_all() {
        $('#deleteAllModal').modal('hide');
        $.ajax({
            type: "GET",
            url: "/deleteAllFromTrash",
            async: false,        //异步下载
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: {},
            success: function (result) {
                if (result === "success") {
                    document.getElementById('dir_tbody').style.display="none";
                } else {
                    alert('删除失败，请稍后重试！');
                }
                return false;
            },
            error: function (msg) {
                alert("发生错误");
                return false;
            }
        });
    }

</script>

</html>